/* You can add global styles to this file, and also import other style files */

:root {
    --msg-main-color: #a01441;
    --msg-main-color-hover: #8c0e36;
    --msg-main-color-hover-light: #faebf0;
    --msg-secondary-color: #56a3bc;
    --msg-secondary-color-hover: #3f879e;
    --msg-secondary-color-hover-light: #56a3bc19;

    --msg-light-text-color: #ffffff;
    --msg-dark-text-color: #575757;
    --msg-dark-grey-text-color: #6f6f6f;
    --msg-darkest-grey-text-color: #373737de;
    --msg-grey-text-color: #707070;
    --msg-medium-grey-text-color: #9b9b9b;
    --msg-light-grey-text-color: #c6c6c6;

    --msg-white-background: #ffffff;
    --msg-light-background: #f1f6f9;
    --msg-grey-background: #f6f6f6;
    --msg-dark-background: #d9e5ec;
    --msg-black-background: #000000de;

    --msg-light-shadow: #00000012;
    --msg-light-shadow-hover: #0000000b;
    --msg-dark-shadow: #00000029;

    --msg-error-red: #e90d0d;

    --msg-grey-border: #d9d9d9;
    --msg-light-grey-scrollbar: #dbdbdb;
}
